<div class="dashboard-container">
  <h1 class="dashboard-title">Panel de Administración</h1>

  <div class="card-grid">
    <a routerLink="/admin/categorias" class="admin-card">
      <div class="card-content">
        <h2>Categorías</h2>
      </div>
    </a>

    <a routerLink="/admin/productos" class="admin-card">
      <div class="card-content">
        <h2>Productos</h2>
      </div>
    </a>

    <a routerLink="/admin/marcas" class="admin-card">
      <div class="card-content">
        <h2>Marcas</h2>
      </div>
    </a>
  </div>
</div>
