<div class="px-40 mt-10 flex justify-center">
    <form class="w-96 shadow p-6">
        @if (id) {
            <h4 class="text-xs"> Actualizar marca</h4>
        }@else {
            <h4 class="text-xs"> Agrega una nueva marca</h4>
        }
        <div class="flex flex-wrap">
            <mat-form-field class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Escribe el nombre de la marca" name="nombre" [(ngModel)]="name"/>
            </mat-form-field>
        </div>
        <div class="flex justify-center" > 
            @if (id) {
                <button mat-raised-button color="primary" (click)="update()" [disabled]="!name">Actualizar </button> 
            }@else {
                <button mat-raised-button color="primary" (click)="add()" [disabled]="!name">Agregar </button> 
            }
            
        </div>
    </form>
</div>